.Owner {
    font-weight: bold;
    color: #2142b2;
    margin-right: 8px;
}

.Date {
    color: #222222;
}

.Dot {
    font-size: 5px;
}

.Comment {
    background-color: #F8F8F8;
}

.Heart {
    color: red;
    cursor: pointer;
}

.Heart:hover {
    color: rgb(230, 112, 112);
    cursor: pointer;

}

.HeartOutline:hover {
    color: red;
    cursor: pointer;

}

.CommentHolder {
    font-size: 20px;
}