.Container {
    min-height: 343px;
}

.Header {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: rgb(19, 88, 236);
}

.Form {
    background-color: #a6a4aaad;
    border-radius: 10px;
}

.ChangeButton {
    background-color: rgb(230, 33, 33);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    color: aliceblue;
}

.ChangeButton:hover {
    background-color: rgb(255, 38, 0);
}

.Alert {
    padding: 5px;
    margin-top: 5px;
}

.Label {
    font-size: 20px;
    color: rgb(0, 4, 255);
}

.Button {
    margin: 5px;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
}