.NavBar {
    text-decoration: none;
    color: #ff5757;
    background-color: #555358;
}

.Brand {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #ff5757;
}

.NavLinkActive {
    color: #f09b56;
}

.NavLink {
    padding: 5px;
    font-size: 20px;
}