.NavBar {
    text-decoration: none;
    background-color: #343437;
    color: #f09b56;

}

.Brand {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #ff5757;
    margin-bottom: 0px;
}

.NavLinkActive {
    color: #FFBDBD;

}

.NavLink {
    padding: 5px;
    font-size: 20px;
    margin-left: 3px;
}

.NavLink::after {
    display: none !important;
}

.ProfileDropdown {
    background-color: #5e5d5f;

    padding: 5px;
}

.ProfileDropdownItem {
    color: #f09b56;
}