.Post {
    background-color: #f8f8f8;
    border: 1px solid #dadadf;
    border-radius: 10px;
    margin-bottom: 16px;
    text-align: center;
}

.PostBar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
    padding: 10px;
}

.Owner {
    font-size: 16px;
    color: black;
    margin-left: 2px;
}

.Date {
    color: #264653;
    font-size: 14px;
}

.Title {
    font-size: 22px;
    color: #03071e;
}

.Content {
    font-size: 18px;
    color: #023047;
}

.Dot {
    font-size: 5px;
    vertical-align: middle;
    color: grey;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: red;
    cursor: pointer;
}

.Heart:hover {
    color: rgb(230, 112, 112);
    cursor: pointer;

}

.HeartOutline:hover {
    color: red;
    cursor: pointer;

}

